.ultima {
    .template {
        &-hero {

            &-pattern {
                width: 60rem;
                height: auto;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 6;
            }

            &-dashboard1,
            &-dashboard2{
                border-radius: 0.42857rem;
            }

        }
    }

}

@media only screen and (max-width: 768px) {
    .ultima {
        .template {
            &-hero {

                &-pattern {
                    width: 80rem;
                    left: -5rem;
                }
            }
        }

    }
}